*{
    margin:0px;
    padding:0px;
}
#main_head{
    text-align: center;
    color:rgba(128, 0, 0, 0.768);
    background-color: lightblue;
}
.head_section{
    width :400px;
    height:300px;
    background-color: lightcoral;
    margin-top: 20px;
    margin-bottom: 30px;
    padding:20px 20px 20px 20px;
    border:5px solid violet;
    border-radius: 10px;
    box-shadow: 10px 10px brown;

   
    
   
}
.heading{
    text-align: center;
    color:midnightblue;
    margin-bottom: 10px;
}
.head_content{
    font-size: 18px;
    color:darkmagenta;
}
.head{
    display:flex;
    /* justify-content: space-evenly; */
    background-color: cornflowerblue;
    gap:60px;
    


}
.photo_sec{
    width:300px;
    height:400px;
    margin-top: 20px;
}
.photo{
    width:300px;
    height:300px;

}
.main{
    background-color:darkorange;
    margin-top:0;
    display: flex;
    flex-direction: column;
    height:900px;
}
.item{
    margin-top: 40px;
    margin-left: 300px;
    width:500px;
    height:200px;
    border: 5px solid plum;
    border-radius: 15px;
    font-weight: 700;
    padding-left: 40px;
    padding-top: 20px;
    box-shadow: 10px 10px dimgray;
    
    


}
.ul{
    background-color:darkorchid;
    font-size: 18px;
    color:dodgerblue
}
.ol{
    background-color: indianred;
    font-size: 18px;
    color:darkslategrey;
}
.ul:hover{
    background-color: lightpink;
    color:darkorange;
}
.ol:hover{
    background-color: gold;
    color:navy;
}
.list-head{
    text-align: center;
    color:darkslateblue;
    margin-bottom: 10px;
    
}
.list-head:hover{
    color:darkgreen;
}

/* table design */
table,tr,td,th{
    border:2px solid black;
    border-collapse: collapse;
    border-radius: 10px;
    background-color: darksalmon;
    
   
    
}
.left{
    text-align: left;
}
td,th{
    
    text-align: center;
    width:200px;
    height:20px;
    
}
h2{
    text-align: center;
    color:darkblue;
}
table{
    margin:20px 0px 20px 200px ;
}

.table{
    margin-top: 50px;
    
}
